<div class="sidebarWrapper">
    <ul class="sideBar">
        <li>
            <a routerLinkActive="active" [routerLink]="['dashboard'] " title="Dashboard">
                <i class="pi pi-home   sideIcon" ></i>

                <span>
                        DashBoard
                    </span>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLink]="['table']" title="Task List">
                <i class="pi pi-table   sideIcon" ></i>

                    <span>
                        Table
                    </span>
                </a>
        </li>

    </ul>

</div>